<div th:fragment ="footer">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="container">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="https://vk.com/m1nuano_2255" class="nav-link px-2 text-muted">VK</a></li>
            <li class="nav-item"><a href="https://github.com/m1nuano" class="nav-link px-2 text-muted">GitHub</a></li>
            <li class="nav-item"><a href="https://t.me/m1nuano_2255" class="nav-link px-2 text-muted">Telegram</a></li>
          </ul>
          <p class="text-center text-muted">© 2024 m1nuano_, Inc</p>
      </div>
    </div>
  </nav>
</div>