<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/index}">Website</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mZb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link active" aria-current="page"
                           th:href="@{/index/profile/{userId}(userId=${user != null ? user.id : ''})}">Profile</a>
                    </li>
                </ul>
<!--                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">-->
<!--                    <li sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                        <a class="nav-link active text-end" aria-current="page" th:href="@{/index/admin}">Admin</a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
    </nav>
</div>

<!--Serves for correct display of publications with all indents-->
<style>
    .formatted-text {
        white-space: pre-wrap;
    }
</style>